<head>
  <meta charset="UTF-8">
  <meta name="referrer" content="always">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="hyjADXBfPWioezEyxWb91yhZYGC08ikSp1aF6Bz1b_w" />
  <meta name="naver-site-verification" content="16bc7701ad208ef6b2ff1ba2aa5f1021561c8071"/>

  <base href="{{ site.url }}">
  <link rel="canonical" href="{{ site.url }}" />
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="by" content="{{ site.author.name }}">
  
  {%- if page.description -%}
  <meta name="description" content="{{ page.description }}">
  {%- else -%}
  <meta name="description" content="{{ site.description }}">
  {%- endif -%}
  <link rel="icon" href="{{ site.url }}/assets/favicon-32x32.png">

  <!-- BEGIN PPENGRAPH -->
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:title" content="{{ page.title }} | {{ site.title }}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  {%- if page.description -%}
    <meta property="og:description" content="{{ page.description }}">
  {%- else -%}
    <meta property="og:description" content="{{ site.description }}">
  {%- endif -%}
  <meta property="og:image" content="{{ site.url }}/assets/favicon-32x32.png">
  <!-- END PPENGRAPH -->

  <!-- BEGIN TWITTERCARD -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="{{ site.title }}">
  <meta name="twitter:title" content="{{ page.title }} | {{ site.title }}">
  {%- if page.description -%}
    <meta name="twitter:description" content="{{ page.description }}">
  {%- else -%}
    <meta name="twitter:description" content="{{ site.description }}">
  {%- endif -%}
  <meta property="twitter:image" content="{{ site.url }}/assets/favicon-32x32.png">
  <!-- END TWITTERCARD -->

  <!-- BEGIN Structured Data -->
  <script type="application/ld+json">
    {
      "@context":"http://schema.org",
      "@type":"BlogPosting",
      "headline":"{{ page.title }} | {{ site.title }}",
      "name":"{{ page.title }} | {{ site.title }}",
      "url":"{{ site.url }}{{ page.url }}",
      {%- if page.description -%}
        "description":"{{ page.description }}",
      {%- else -%}
        "description":"{{ site.description }}",
      {%- endif -%}
      "author":{
        "@type":"Person",
        {%- if page.author -%}
          "name":"{{ page.author }}",
        {%- else -%}
          "name":"{{ site.author.name }}",
        {%- endif -%}
        {%- if page.author-img -%}
          "img":"{{ site.url }}{{ page.author-img }}"
        {%- else -%}
          "img":"{{ site.url }}{{ site.author.img }}"
        {%- endif -%}
      }
      "dateCreated":"{{ page.date }}",
      "datePublished":"{{ page.date }}",
      "keywords":["{{ page.tags | join:'", "' }}"],
      "creator":"{{ site.author.name }}"
    }
  </script>
  <!--   
    "sameAs":[
      "https://www.facebook.com/myfacebook",
      "http://blog.naver.com/myblog",
      "http://storefarm.naver.com/mystore",
    ]
  -->
  <!-- END Structured Data -->

  <!-- CSS -->
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosanskr.css">

  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/favicon-32x32.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/favicon-16x16.png" | relative_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/apple-touch-icon.png" | relative_url }}">

  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121646883-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-121646883-2');
  </script>

  <!-- Naver Analytics -->
  <script type="text/javascript" src="//wcs.naver.net/wcslog.js"></script>
  <script type="text/javascript">
    if(!wcs_add) var wcs_add = {};
    wcs_add["wa"] = "ae9384879e1fd8";
    wcs_do();
  </script>
  
  <!-- RSS -->
  {% feed_meta %}
</head>
