$gl-ms         : "screen and (max-width: 23.5em)"; // up to 360px
$gl-xs         : "screen and (max-width: 35.5em)"; // up to 568px
$gl-sm         : "screen and (max-width: 48em)";   // max 768px
$gl-md         : "screen and (max-width: 64em)";   // max 1024px
$gl-lg         : "screen and (max-width: 80em)";   // max 1280px

* {
  @include box-sizing;
  line-height: 1.5;
}

html,
body {
  color: $default-color;
  margin: 0;
  padding: 0;
}

html {
  font-family: $font-family;
  font-size: 14px;
  overflow-y: scroll;

  @media (min-width: 600px) {
    font-size: 16px;
  }
}

body {
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $default-shade;
  line-height: normal;
}

a {
  color: $blue;
  text-decoration: none;
}

blockquote {
  border-left: .35rem solid $code-color;
  color: $grey-2;
  margin: .8rem 0;
  padding: .6rem .8rem .7rem .8rem;
  background-color: $blockquote-background;
  font-size: 0.85rem !important;
  letter-spacing: 0.02rem;

  p:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 600px) {
    padding: .6rem .8rem .7rem .8rem;
  }
}

img {
  display: block;
  margin: 0 0 1rem;
  max-width: 100%;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  border:1px solid #e5e5e5;
  background:white;
  overflow:hidden;
  min-width: 60%;
  max-width: 100%;
  margin:0 auto;
  position:relative;
  
  * {
    position:relative;
  }

  thead tr {
    height:40px;
    background:#d0bfff;
    font-size:16px;
  }
  
  tbody tr {
    height:40px;
    border-bottom:1px solid #e5e5e5;
    
    &:last-child {
      border:0;
    }
  }
}