.catalogue {
  &-item {
    border-bottom: 1px solid $grey-2;
    color: $default-color;
    display: inline-block;
    padding: 2rem 0;
    width: 100%;

    .catalogue-line {
      border-color: $theme-tint;
    }

    &:hover .catalogue-line,
    &:focus .catalogue-line {
      width: 5rem;
    }

    &:last-child {
      border: 0;
    }
  }

  &-time {
    display: inline-block;
    margin-bottom: 5px;
    color: $grey-5;
    letter-spacing: .5px;
    font-size: 0.7rem;
    font-weight: 400;

    &:first-child,
    &:nth-of-type(1) {
      margin-right: .8rem;
      padding-right: 1rem;
      border-right: 2px solid $grey-2;
    }

    .tag {
      margin-right: .1rem;
      display: inline-block;
      padding: 3px 7px;
      background-color: $grey-6;
      color: $white;
      border-radius: 5px;
    }
  }

  &-title {
    color: $default-color;
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0 0 4px 0;
  }

  &-img {
    $img-size: 22px;
    display: inline-block;
    margin: 0 -2px 1px 2px !important;
    width: $img-size;
    height: $img-size;
    border-radius: 50%;
    vertical-align: middle;
  }

  &-line {
    @include transition(all .3s ease-out);
    border-top: .2rem solid $default-shade;
    display: block;
    width: 2rem;
  }

  p {
    margin: .9rem 0;
    font-size: 0.9rem;
    color: $grey-1;
  }
}

.catalogue.category {
  padding-bottom: 1.5rem;

  .title {
    padding: 2.2rem 0 .05rem 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: $default-shade;

    span {
      font-size: 0.4rem;
      vertical-align: middle;
    }
  }

  .catalogue-item {
    padding: 0.5rem 0 0.6rem 0;
  }

  .catalogue-title {
    margin: 0;
    padding-bottom: 5px;
    font-size: 1.2rem;
    font-weight: 500;
  }

  .catalogue-time {
    font-size: 0.7rem;
  }
}

.sub-catalogue {
  margin-bottom: 1.5rem;
  padding: 0.8rem 1rem;
  border: 1.5px solid $grey-2;
  font-size: 0.9rem;

  .section, &-item {
    height: 30px;
  }

  .section {
    position: relative;
    padding-bottom: 0.5rem;
    border-bottom: 1.5px solid $grey-2;
    font-weight: bold;

    .info {
      padding-left: 5px;
      float: left;
      color: $default-color;
    }

    a {
      margin-right: 5px;
      float: right;
      color: $default-color;
      text-decoration: none;
    }
  }

  &-item {
    position: relative;
    padding: 0.5rem 0;

    a {
      float: left;

      h1 {
        margin: 0;
        font-size: 0.9rem;
        font-weight: 500;
        color: $default-color;
        opacity: .8;
      }

      &:hover {
        border-bottom: 2px solid $theme-tint;
      }
    }

    time {
      float: right;
      color: $grey-1;
    }
  }
}