.pagination {
  border-top: .5px solid $grey-2;
  padding-top: 2rem;
  padding-bottom: 2.5rem;
  position: relative;
  text-align: center;
  font-weight: bold;

  span {
    @include transition(all .3s ease-out);
    padding: 0 0.4rem;
    color: $default-tint;
    font-size: 1.1rem;
    cursor: pointer;

    &.active {
      color: $theme-tint;
    }

    &:hover {
      opacity: .6;
    }
  }

  &-container {
    position: relative;
  }

  .top {
    @include transition(all .3s ease-out);
    color: $theme-tint;
    font-size: 1.1rem;
    opacity: .6;

    &:hover {
      opacity: 1;
    }
  }

  .arrow {
    @include transition(all .3s ease-out);
    color: $theme-tint;
    position: absolute;
    line-height: 1.5;

    &.disable {
      opacity: .6;
      color: $theme-shadow !important;
      cursor: not-allowed;
    }

    &:hover,
    &:focus {
      opacity: .6;
      text-decoration: none;
    }
  }

  .left {
    left: 2rem;
  }

  .right {
    right: 2rem;
  }
}
