---
layout: default
---

<main>
  <div class="catalogue category">
    {% assign date = '' %}
    {% for post in site.categories[page.categories] %}
      {% assign postdate = post.date | date: "%B, %Y" %}
      {% if date != postdate %}
        <div class="title"><span>●</span> {{ postdate }}</div>
        {% assign date = postdate %}
      {% endif %}
      <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
        <div>
          <h1 class="catalogue-title">{{ post.title }}</h1>
          <div>
            <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time>
              <span class="catalogue-time">Written By</span>
              {% if post.author-img %}
                <img class="catalogue-img" src="{{ post.author-img }}"/>
              {% else %}
                <img class="catalogue-img" src="{{ site.author.img }}"/>
              {% endif %}
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
</main>