---
layout: default
comments: true
---

<main>
  <div class="post">
    {% include post-title.html %}
    {{ content }}
    {% include post-author.html %}
  </div>
</main>

<div class="sub-catalogue">
  <div class="section">
    <div class="info">'{{ page.categories }}' 카테고리 최신글</div>
    <a href="{{ site.baseurl }}/{{ page.categories | first | downcase }}">더보기</a>
  </div>

  {% assign count = 0 %}
  {% for post in site.posts %}
    {% if post.categories == page.categories %}
      {% assign count = count | plus: 1 %}
      {% if count < 6 %}
        {% if post.id == page.id %}
          {% assign count = count | minus: 1 %}
        {% else %}
          <div class="sub-catalogue-item">
            <a href="{{ post.url | prepend: site.baseurl }}">
              <h1 class="sub-catalogue-title">{{ post.title | strip_html | truncatewords: 5 }}</h1>
            </a>
            <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%Y.%m.%d" }}</time>
          </div>
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}

</div>

{% include post-comments.html %}